@font-face {
	font-family: Title;
	src: url('../fonts/Champagne & Limousines.ttf');
}
@font-face {
	font-family: Title-Bold;
	src: url('../fonts/Champagne & Limousines Bold.ttf');
}
html {
	overflow-x: hidden;
}
html, body {
	margin: 0px;
	padding: 0px;
	/*background-color: #F7CA62;*/
	background-color: #06D6A0;
	overflow-x: hidden;
	-webkit-overflow-x: hidden;
}
body {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	overflow-x: visible;
	overflow-x: hidden;
}
header {
	/*background-color: black;*/
	height: 75px;
	font-family: Title;
	font-size: 50px;
	color: white;
}
header .title,
header .controls {
	color: white;
	position: absolute;
	top: 0px;
}
header .title {
	left: 0px;
	padding: 3px 25px 3px 25px;
}
header .title,
header .title:hover,
header .title:active,
header .title:visited{
	text-decoration: none;
}
header .controls {
	top: -10px;
	right: 0px;
	box-sizing: border-box;
	height: 75px;
	width: 80px;
	cursor: pointer;
	z-index: 1000;
}
header .controls svg {
	top: 10px;
}
header .menu {
	position: absolute;
	width: 400px;
	height: 100%;
	min-height: 500px;
	right: -405px;
	background: #073B4C;
	transition: 0.3s all ease;
	-webkit-box-shadow: -6px 0px 9px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -6px 0px 9px -4px rgba(0,0,0,0.75);
	box-shadow: -6px 0px 9px -4px rgba(0,0,0,0.75);
}
.active {
	right: 0px !important;
}
.menu-wrapper {
	position: relative;
	margin-top: 8px;
	width: 100%;
	font-family: Title;
	color: white;
}
.menu-wrapper h2 {
	font-size: 50px;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 4px 25px 8px 25px;
	box-sizing: border-box;
	border-bottom: 5px solid #082C38;
}
.menu-wrapper h3 {
	font-size: 45px;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 15px 25px 8px 25px;
	box-sizing: border-box;
	/*border-bottom: 2px solid #fff;*/
}
.account,
.cart {
	position: relative;
	width: 100%%;
	/*border-bottom: 2px solid #082C38;*/
}
.account {
	/*background-color: red;*/
}
.cart {
	/*background-color: green;*/
}
.menu-icon {
	position: absolute;
	right: 25px;
}
.img-thumb {
	width: 43px;
	height: 43px;
	margin-top: -10px;
	border-radius: 50%;
}
.cart-list,
.menu-list {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 25px;
}
.cart-list li,
.menu-list li {
	position: relative;
	width: 100%;
}
.cart-list li {
	display: block;
	position: relative;
	width: 100%;
	padding: 12px 25px 12px 25px;
}
.menu-list li a {
	display: block;
	position: relative;
	width: 100%;
	padding: 12px 25px 12px 25px;
	color: white;
}
.menu-list li a:hover,
.menu-list li a:active,
.menu-list li a:visited {
	text-decoration: none;
	background-color: #082C38;
	color: white;
}
.cart-list li .menu-icon,
.menu-list li a .menu-icon {
	right: 33px;
	bottom: 16px;
}
.cart-list li .menu-icon {
	color: #EF476F;
	cursor: pointer;
	bottom: 8px;
}
.product-wrapper {
	width: calc(100% - 50px);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 0px;
}
.product {
	box-sizing: border-box;
	display: inline-block;
	width: 295px;
	height: 425px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px;
	background-color: #fff;
	margin-top: 15px;
	font-size: 25px;
	font-family: Title-Bold;
	padding: 15px 15px 0px 15px;
	-webkit-box-shadow: -6px 7px 14px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -6px 7px 14px -5px rgba(0,0,0,0.75);
	box-shadow: -6px 7px 14px -5px rgba(0,0,0,0.75);
}
.product img {
	width: 265px;
	height: 265px;
}
.product-details {
	margin-top:  15px;
}
.product-details:after {
  content: "";
  display: table;
  clear: both;
}
.product-name {
	float: left;
	color: #073B4C;
}
.product-price {
	float: right;
	color: #EF476F;
}
.add-to-cart {
	display: block;
	margin-top: 15px;
	width: 100%;
	font-weight: bold;
	background-color: #073B4C;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
.add-to-cart:hover,
.add-to-cart:active,
.add-to-cart:visited {
	color: white;
	text-decoration: none;
}
.form-wrapper {
	font-family: Title-Bold;
	width: 33%;
	min-width: 300px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 20px;
}
.form-wrapper .form-element {
	position: relative;
	width: 100%;
	height: auto;
	color: white;
	margin-bottom: 20px;
}
.form-element p {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}
.form-wrapper .error-element {
	position: relative;
	width: 100%;
	height: auto;
	color: white;
	margin-bottom: 20px;
}
.form-element input[type='email'],
.form-element input[type='text'],
.form-element input[type='password'],
.form-element .file-mask {
	width: 100%;
	outline: none;
	height: 50px;
	color: white;
	background-color: transparent;
	border: 2px solid white;;
	padding: 10px 15px 10px 15px;
}
.file-mask {
	cursor: pointer;
}
.form-element input[type='email']:focus,
.form-element input[type='text']:focus,
.form-element input[type='password']:focus {
	outline: none;
}
input::-webkit-input-placeholder{
    color: white;
}
input:-moz-placeholder {
    color: white;
}
input[type='file'] {
	display: none;
}
.form-element span {
	position: absolute;
	right: 15px;
	top: 15px;
}
.form-element .form-submit {
	display: block;
	width: 25%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	border: 2px solid white;
	background-color: #06D6A0;
	color: white;
	text-align: center;
	padding: 10px 20px 10px 20px;
}
.form-element .form-submit,
.form-element .form-submit:hover,
.form-element .form-submit:active,
.form-element .form-submit:visited {
	text-decoration: none;
	background-image:
}
.form-element .form-submit:hover {
	color: #06D6A0;
	background-color: white;
}
.form-error {
	width: 100%;
	height: auto;
	color: white;
	background-color: #EF476F;
	padding: 10px 15px 10px 15px;
	border: 2px solid #EF476F;
}
